{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Supprimer UE</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Supprimer UE</h1>

    <a href="{% url 'ue_list' %}" class="add-btn">← Retour aux UE</a>

    <p>Es-tu sûr·e de vouloir supprimer : <strong>{{ object.code }}</strong> ?</p>
    <form method="post">{% csrf_token %}
      <button type="submit" class="btn btn-delete">Oui, supprimer</button>
      <a href="{% url 'ue_list' %}" class="btn btn-cancel">Non</a>
    </form>
  </div>
</body>
</html>
